* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: lightslategray;
}

a {
    Text-decoration: none;
}

/*layout 1 -------------------------------------------------------------------------*/

.l1_wrapper {
    margin: 0px auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.l1_wrapper main {
    display: flex;
    flex-wrap: wrap;
    height: 491px;
    width: 1000px;
}


header {
    height: 388px;
    width: 1000px;
    background-color: dodgerblue;
}

#Diamond2 {
    float: left;
    width: 0;
    height: 0;
    left: 90px;
    border: 25px solid transparent;
    border-bottom: 50px solid orange;
    position: relative;
    top: 15px;
    transform: rotate(90deg);
}

#Diamond2:after {
    content: '';
    position: absolute;
    left: -25px;
    top: 50px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 50px solid orange;
}

.l1_wrapper div {
    display: flex;
    justify-content: right;
    left: -50px;
}

.l1_wrapper ul {
    margin-top: 45.3%;
    display: flex;
    background-color: brown;
    width: 728px;
    height: 58px;
    margin: bottom;
}

.l1_wrapper li {
    display: flex;
    justify-content: center;
    height: 58px;
    width: 242.8px;
    font-size: smaller;
}

.l1_wrapper h2 {
    margin-top: 7%;
}

#li1 {
    background-color: rgb(42, 165, 42);
    color: snow;
}

#li2 {
    background-color: rgb(130, 247, 130);
    color: black;
}

#l1_rect1 {

    position: relative;
    top: 24px;
    left: 28px;
    height: 33px;
    width: 93px;
    background-color: dodgerblue;
}

#l1_rect2 {
    position: relative;
    top: 31px;
    left: 178px;
    height: 389px;
    width: 335px;
    background-color: dodgerblue;
}

#l1_rect3 {
    position: relative;
    top: 31px;
    left: 200px;
    height: 338px;
    width: 338px;
    background-color: dodgerblue;
}

footer {
    background-color: lightcoral;
    height: 121px;
    width: 1000px;
}

/*    layout2 ---------------------------------------------------------- */

.l2_wrapper {
    margin: 0px auto;
    width: 1400px;
    height: 1687px;
    display: flex;
    flex-wrap: wrap;
}

.l2_wrapper header {
    height: 192px;
    width: 100%;
    background-color: darkgrey;
}


.l2_wrapper nav {
    display: flex;
    height: 1687px;
    width: 17.3571428571%;
    background-color: rgb(0, 39, 214);
}


#l2_nav_ul {
    margin: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.l2_nav {
    float: left;
    width: 17.3571428571%;
    height: 1687px;
}

.l2_wrapper li {
    display: flex;
    justify-content: center;
    height: 135px;
    width: 242.8px;
}

#l2_li1 {
    background-color: rgb(0, 39, 214);
}

#l2_li2 {
    text-align: center;
    background-color: rgb(0, 18, 71);
}

.l2_wrapper h2 {
    display: flex;
    position: relative;
    text-align: left;
    top: 25%;
    left: -65px;
    color: whitesmoke;

}

.l2_wrapper main {
    height: 100%;
    width: 58.5714285714%;
    background-color: darkgray;
}

.l2_wrapper aside {
    height: 100%;
    width: 24.0738082%;
    background-color: rgb(0, 39, 214);
}

.l2_wrapper footer {
    width: 100%;
    height: 122px;
    background-color: turquoise;
}


.l2_rect {
    display: flex;
    flex-wrap: wrap;
}

.l2_rect div {
    height: 338px;
    width: 338px;
    background-color: lightcyan;
}

#l2_rect1 {
    position: relative;
    left: 30px;
}

#l2_rect2 {
    position: relative;
    left: 60px;
}

#l2_rect3 {
    position: relative;
    top: -104px;
    left: 30px;
}

#l2_rect4 {
    position: relative;
    top: 113px;
    left: 60px;
}

#l2_rect5 {
    position: relative;
    top: -280px;
    left: 30px;
}


#l2_rect6 {
    position: relative;
    height: 338px;
    width: 128px;
    top: 66px;
    left: 170px;
    background-color: snow;
}

#l2_rect7 {
    position: relative;
    height: 126px;
    width: 128px;
    top: 1190px;
    left: 106px;
    background-color: snow;
}