* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: lightslategray;
}

a {
    Text-decoration: none;
}

/*layout 1 -------------------------------------------------------------------------*/

.l1_wrapper {
    margin: 0px auto;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.l1_wrapper main {
    display: flex;
    flex-wrap: wrap;
    height: 491px;
    width: 1000px;
}


header {
    height: 388px;
    width: 1000px;
    background-color: dodgerblue;
}

#Diamond2 {
    float: left;
    width: 0;
    height: 0;
    left: 90px;
    border: 25px solid transparent;
    border-bottom: 50px solid orange;
    position: relative;
    top: 15px;
    transform: rotate(90deg);
}

#Diamond2:after {
    content: '';
    position: absolute;
    left: -25px;
    top: 50px;
    width: 0;
    height: 0;
    border: 25px solid transparent;
    border-top: 50px solid orange;
}

.l1_wrapper div {
    display: flex;
    justify-content: right;
    left: -50px;
}

.l1_wrapper ul {
    margin-top: 45.3%;
    display: flex;
    background-color: brown;
    width: 728px;
    height: 58px;
    margin: bottom;
}

.l1_wrapper li {
    display: flex;
    justify-content: center;
    height: 58px;
    width: 242.8px;
    font-size: smaller;
}

.l1_wrapper a{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
    color: snow;
}

.l1_wrapper h2 {
    margin-top: 7%;
    color: black;
}

.l1_wrapper li {
    background-color: rgb(42, 165, 42);
   
}


#li2 {
    background-color: rgb(130, 247, 130); 
}
#li3 {
    background-color: rgb(130, 247, 130);
}


.l1_wrapper li:hover{
    background-color: darkcyan;
}
#li2:hover{
    background-color: darkcyan;
}
#li3:hover{
    background-color: darkcyan;
}
#l1_rect1 {

    position: relative;
    top: 24px;
    left: 28px;
    height: 33px;
    width: 93px;
    background-color: dodgerblue;
}

#l1_rect2 {
    position: relative;
    top: 31px;
    left: 178px;
    height: 389px;
    width: 335px;
    background-color: dodgerblue;
}

#l1_rect3 {
    position: relative;
    top: 31px;
    left: 200px;
    height: 338px;
    width: 338px;
    background-color: dodgerblue;
}

footer {
    background-color: lightcoral;
    height: 121px;
    width: 1000px;
}

/*    layout2 ---------------------------------------------------------- */

.l2_wrapper {
    margin: 0px auto;
    width: 1400px;
    height: 1687px;
    display: flex;
    flex-wrap: wrap;
}

.l2_wrapper header {
    height: 192px;
    width: 100%;
    background-color: darkgrey;
}


.l2_wrapper nav {
    display: flex;
    height: 1687px;
    width: 17.3571428571%;
    background-color: rgb(0, 39, 214);
}

.l2_wrapper a{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    justify-content: center;
}

#l2_nav_ul {
    margin: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.l2_nav {
    float: left;
    width: 17.3571428571%;
    height: 1687px;
}

.l2_wrapper li {
    display: flex;
    justify-content: center;
    height: 135px;
    width: 242.8px;
}

#l2_li2 {
    background-color: rgb(0, 39, 214);
}

#l2_li1 {
    text-align: center;
    background-color: rgb(0, 18, 71);
}
#l2_li3{
    text-align: center;
    background-color: rgb(0, 18, 71);
}
#l2_li1:hover{
    background-color: rgb(153, 24, 185);
}
#l2_li2:hover{
    background-color: rgb(153, 24, 185);
}
#l2_li3:hover{
    background-color: rgb(153, 24, 185);
}

.l2_wrapper h2 {
    display: flex;
    position: relative;
    text-align: left;
    top: 25%;
    left: -65px;
    color: whitesmoke;

}

.l2_wrapper main {
    height: 100%;
    width: 58.5714285714%;
    background-color: darkgray;
}

.l2_wrapper aside {
    height: 100%;
    width: 24.0714285714%;
    background-color: rgb(0, 39, 214);
}

.l2_wrapper footer {
    width: 100%;
    height: 122px;
    background-color: turquoise;
}


.l2_rect {
    display: flex;
    flex-wrap: wrap;
}

.l2_rect div {
    height: 338px;
    width: 338px;
    background-color: lightcyan;
}

#l2_rect1 {
    position: relative;
    left: 30px;
}

#l2_rect2 {
    position: relative;
    left: 60px;
}

#l2_rect3 {
    position: relative;
    top: 120px;
    left: 30px;
}

#l2_rect4 {
    position: relative;
    top: 337px;
    left: 60px;
}

#l2_rect5 {
    position: relative;
    top: 168px;
    left: 30px;
}


#l2_rect6 {
    position: relative;
    height: 338px;
    width: 128px;
    top: 66px;
    left: 170px;
    background-color: snow;
}

#l2_rect7 {
    position: relative;
    height: 126px;
    width: 128px;
    top: 1190px;
    left: 106px;
    background-color: snow;
}

/* layout 3 ---------------------------------------------- */

 .l3_wrapper
 {
    margin: 0px auto;
    width: 1400px;
    height: 1687px;
    display: flex;
    flex-wrap: wrap;
 }
    @media only screen and (max-width: 500px)
     {
        .l3_wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: 1121px;
            width:100%;
            margin: 0 auto;
            background-color: green;
         }
         .l3_wrapper main{
             display: flex;
             flex-wrap: wrap;
             background-color: darkcyan;
         }
         .l3_wrapper header{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 438px;
            background-color: darkgrey;
         }
         #Diamond2 {
            float: left;
            width: 0;
            height: 0;
          
            border: 25.2px solid transparent;
            border-bottom: 50.2px solid orange;
            position: relative;
            top: 15px;
            transform: rotate(90deg);
        }
        
        #Diamond2:after {
            content: '';
            position: absolute;
            left: -25px;
            top: 50px;
            width: 0;
            height: 0;
            border: 25.2px solid transparent;
            border-top: 50.2px solid orange;
        }
        #plus{
            position:relative;
            display: flex;
            top:45%; 
            left:-15px;
            width: 86px;
            height: 14px;
           background-color: whitesmoke;
        }
        #plus:after{ 
            content: '';
           position:relative;
           transform: rotate(90deg);  
           width: 86px;
           height: 14px;      
          background-color: whitesmoke;
        }
        .l3_wrapper nav{
            position: relative;
            top:151px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            background-color: lightcoral;
            height: 62px;
            

        }
        .l3_wrapper ul{
            display: flex;
            flex-wrap: wrap;
            height: 62px;
            width: 100vw;
        }
        .l3_wrapper li{
            display: flex;
            flex-wrap: wrap;
            width: 33.3333333334%;
            height: 62px;
        }
        .l3_wrapper li:hover{
            background-color: pink;
            color:black;
        }

         .l3_wrapper li:hover h2{
             background-color: pink;
             color:black;
         }
         .l3_wrapper a{
             height: 62px;
             width:100%;
         }
         .l3_wrapper h2{
             position: relative;
             text-align: center;
             top: 15px;
             color:darkgrey;
         }
         #l3_li3{
             background-color: crimson;
         }
         #l3_li3:hover{
             background-color: pink;
         }
         .l3_wrapper main div{
            height: 50vw;
            width: 50vw;
            background-color: white;
        }
        #squares{
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
        }
        .sqr1{
            opacity: 100%;
            
        }
        .sqr1:hover{
            opacity: 0%;
        }
        .sqr2{
            opacity: 75%;
        } 
        .sqr2:hover{
            opacity: 0%;
        }
        .sqr3{
            opacity: 50%;
        }
        .sqr3:hover{
            opacity: 0%;
        }
        .sqr4{
            opacity: 25%;
        }
        .sqr4:hover{
            opacity: 0%;
        }
     }
    @media only screen and (min-width: 501px) and (max-width: 768px)
     {
        /* .l3_wrapper{
            height: 800px;
            width:760px;
            margin: 0 auto;
            background-color: purple;
         } */
     }
    @media only screen and (min-width: 769px)
     {
        .l3_wrapper{
            display: flex;
            flex-wrap: wrap;
            height: 1121px;
            width:1000px;
            margin: 0 auto;
            background-color: red;
         }
         .l3_wrapper header{
             height: 500px;
             width: 500px;
             background-color: rgb(68, 68, 68);
         }
         #plus{
             position:relative;
             display: flex;
             top:42%;
             left:150px;
             width: 86px;
             height: 14px;
            background-color: whitesmoke;
         }
         #plus:after{ 
             content: '';
            position:relative;
            transform: rotate(90deg);  
            width: 86px;
            height: 14px;      
           background-color: whitesmoke;
           

         }
         .l3_wrapper nav{
            position: relative;
            top:363.5px; 
            display: flex;
            flex-wrap: wrap;
            background-color: lightcoral;
            height: 62px;
            width: 500px;
         }
         .l3_wrapper ul{
             display: flex;
             flex-wrap: wrap;
             height: 62px;
             width: 500px;
         }
         .l3_wrapper li{
             display: flex;
             flex-wrap: wrap;
             width: 33.3333333334%;
             height: 62px;
         }
         .l3_wrapper li:hover{
            background-color: pink;
            color:black;
        }

         .l3_wrapper li:hover h2{
             background-color: pink;
             color:black;
         }
         .l3_wrapper a{
             height: 62px;
             width:100%;
         }
         .l3_wrapper h2{
             position: relative;
             text-align: center;
             top: 15px;
             color:darkgrey;
         }
         #l3_li3{
             background-color: crimson;
         }
         #l3_li3:hover{
             background-color: pink;
         }
         .l3_wrapper aside{
             display: flex;
             flex-wrap: wrap;
            height: 500px;
            width: 500px;
            background-color: darkcyan;
         }
         .l3_wrapper aside div{
            height:250px;
            width: 250px;
            background-color: white;
         }
         #squares1{
            width: 500px;
            display: flex;
            flex-wrap: wrap;
        }
        #squares2{
            width: 500px;
            display: flex;
            flex-wrap: wrap;
        }
         .l3_wrapper main div{
             height: 250px;
             width: 250px;
             background-color: white;
         }
        .sqr1{
            opacity: 100%;
        }
        .sqr1:hover{
            opacity: 0%;
        }
        .sqr2{
            opacity: 75%;
        } 
        .sqr2:hover{
            opacity: 0%;
        }
        .sqr3{
            opacity: 50%;
        }
        .sqr3:hover{
            opacity: 0%;
        }
        .sqr4{
            opacity: 25%;
        }
        .sqr4:hover{
            opacity: 0%;
        }
        #this_sqr{
            border-color: black;
            border-width: 2px;
            border-style: none;
        }
    
        .l3_wrapper main{
            display: flex;
            flex-wrap: wrap;
            width: 1000px;
            background-color: darkcyan;
        }
     }

 